__pycache__/
/results.txt
/paper/llm-cooperation.pdf
/notebooks/Results.ipynb
/jupyter-book/Results.ipynb
/jupyter-book/_build/**
/jupyter-book/.ipynb_checkpoints/Results-checkpoint.ipynb
/jupytext.toml
/jupyter-book/_build/html/.buildinfo
/jupyter-book/figure*.html
.idea/**
/llm_cooperation.egg-info/dependency_links.txt
/llm_cooperation.egg-info/PKG-INFO
/llm_cooperation.egg-info/SOURCES.txt
/llm_cooperation.egg-info/top_level.txt
/latex/llm_cooperation.tex
.bsp
project
tests/results.pickle
dilemma.log
target
